<footer style="background-color: white;" class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-black d-block text-center text-sm-left d-sm-inline-block">© <%= extra.home.name %> | Powered by <a style="color: blue" href="https://github.com/Heliactyl/Heliactyl-11/">Heliactyl </a> With <a style="color: aqua" href="https://github.com/klovit/winterwhite-theme-heliactyl">WinterWhite Theme</a> by <a href="https://github.com/Klovit">Klovit</a></span>
    </div>
</footer>
